<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Trading Card Collection</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <nav>
        <a href="/" class="brand">
            <img class="logo" src="https://www.pngall.com/wp-content/uploads/13/Pokemon-Logo-PNG-Pic.png" />
            <span> Pokemon Card Collection Website</span>
        </a>

        <div class="menu">
          <a class="button" href="/login">Log In</a>
          <a class="button" href="/register">Register</a>
        </div>
    </nav>
    <div class="flex two mymargin">
        <h1>User Collections</h1>
        <div class="mypadtop">
            SEARCH/CATEGORY?.
        </div>
    </div>


    <div class="container">

    
    <div class="flex two three-600 six-1200">
        <div>
            <article class="card">
            <header>
              <h3>USER NAME</h3>
            </header>
            <footer>
              <button>View Collection</button>
            </footer>
          </article>
        </div>
        <div>
            <article class="card">
                <header>
                  <h3>USER NAME</h3>
                </header>
                <footer>
                  <button>View Collection</button>
                </footer>
              </article>
        </div>
        <div>
            <article class="card">
            <header>
              <h3>USER NAME</h3>
            </header>
            <footer>
              <button>View Collection</button>
            </footer>
          </article>
        </div>
        <div>
            <article class="card">
                <header>
                  <h3>USER NAME</h3>
                </header>
                <footer>
                  <button>View Collection</button>
                </footer>
              </article>
        </div>
        <div>
            <article class="card">
                <header>
                  <h3>USER NAME</h3>
                </header>
                <footer>
                  <button>View Collection</button>
                </footer>
              </article>
        </div>


      </div>

    </div>


</body>

</html>