<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Trading Card Collection</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <nav>
        <a href="/" class="brand">
            <img class="logo" src="https://www.pngall.com/wp-content/uploads/13/Pokemon-Logo-PNG-Pic.png" />
            <span> Pokemon Card Collection</span>
        </a>

        <div class="menu">
            <a class="button" href="/register">Register</a>
            <a class="button" href="/">Home Page</a>
        </div>
    </nav>
    <div class="flex two mymargin">
        <h1>Log In</h1>
       
    </div>


    <div class="container">
        
        <div class="third">
            <input class="stack" placeholder="Username" />
            <input class="stack" placeholder="Password" />
            <button class="stack icon-paper-plane">Log-In</button>
          </div>
    
    


      </div>

    </div>


</body>

</html>