.mymargin{
    margin-top: 100px;
    color: rgb(17, 117, 62);
}

.mypadtop{
    padding-top: 20px;
    color: rgb(17, 117, 62);
}

.container{
    margin: 0 auto;
    width: 90%;
    color: rgb(255, 255, 255);
}

body{
    background-color: rgb(49, 47, 47)
}

.card{
    background-color: rgb(90, 77, 77);
}

.brand{
    background-color: rgb(17, 117, 62);
}

.menu{
    background-color: rgb(17, 117, 62);
}

